*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.box1{
    height: 70vh;
    width: 23%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 2px rgb(158, 157, 157);
    transition: transform 0.3s ease;
}

.box1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px rgb(102, 101, 101);

}

.img{
    width: 100%;
    height: 45%;
}

.img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

img:hover{
    transform: scale(1.1);
    z-index: 1;
}

.content{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1{
    font-size: 3em;
    font-family: helvetica;
    text-shadow: 2px 2px 2px rgb(110, 108, 108);
}

.content p{
    text-align: center;
    font-size: 17px;
    color: rgb(51, 50, 50);
}

.footer{
    width: 100%;
    height: 15%;
    background-color: rgb(164, 110, 214);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    
}

 h2{
    font-family: helvetica;
    font-size: 20px;
    color: white;
}

 p{
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
}
